{% extends "::accueil.html.twig" %}

{% block   body %}
    {{ parent() }}
    <h2> Espace Administrateur </h2>
    <a href="#" id="profile"> My Profile</a> &nbsp;&nbsp;&nbsp;
    <a href="{{path('fos_user_registration_register')}}"> New User </a>

    <div id="divProfile">

        {{ render(controller('FOSUserBundle:Profile:edit'))}}

    </div>
{%endblock  body %}
