.connexion{width: 350px; margin: auto; margin-top: 100px }
.forms{width:350px; border-radius: 7px; background-color: #e5f5f9; padding: 40px}
.connexion .forms input{width: 320px; height: 30px; display: block; margin-bottom: 30px; }
.erreurs {border-radius: 5px; width: 420px; background-color: #fc9272; height: 30px; text-align: center; margin-bottom: 30px; padding-top: 10px}
.forms h5{text-align: center}
.forms a {text-decoration:none}