h4{text-align: right}
h2{text-align:center }
#divProfile{display: none; margin-top:25px }
#divNewUser{display: none; margin-top:25px }  
#divAutre{display: none; margin-top:25px }
#divNewProject{display: none; margin-top:25px }
#divReceivedProject{display: none; margin-top:25px }
#divProjectStatus{display: none; margin-top:25px }


